<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/estilos.css">
        <title>Tabla de Multiplicar</title>
        </head>
        <body>
          <div class="contenedor">
              <h1>Crear Tabla de Multiplicar</h1>
                  <form id="numAMultiplicar">
                        <input type="number" id="inputNumero" placeholder="Ingrese un número" min="1" max="99">
                          <br>    <button type="submit" id="botonCalcular" disabled>Crear Tabla</button>
                              <br>      <button type="button" id="botonLimpiar" disabled>Limpiar</button>
                                        </form>
                                          </div>
                                            <div class="contenedor" id="contenedorResultado">
                                                <h1>Tabla de Multiplicar</h1>
                                                    <table>
                                                          <thead>
                                                            <!--
                                                                  <tr>
                                                                            <th>Operando</th>
                                                                                      <th>Signo</th>
                                                                                                <th>Resultado</th>
                                                                                                        </tr>
                                                                                                              </thead>
                                                                                                            -->
                                                                                                                    <tbody id="cuerpoTablaResultado">
                                                                                                                            
                                                                                                                                  </tbody>
                                                                                                                                      </table>
                                                                                                                                        </div>
                                                                                                                                          <script src="/js/script.js"></script>
                                                                                                                                          </body>
                                                                                                                                          </html>
                                                                                                                                          
