<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/estilos.css">
        <title>Tabla de Multiplicar</title>
        </head>
        <body>
<h1>Actividad 8 - CYF</h1>
<div class="app">
          <div class="contenedor">
              <h1>Crear Tabla de Multiplicar</h1>
                  <form id="numAMultiplicar">
<p>Ingresa un número entre 1 y 999</p>
                        <input type="number" id="inputNumero" placeholder="999" min="1" max="999">
                          <br>    <button type="submit" id="botonCalcular" disabled>Crear Tabla</button>
                              <br>      <button type="button" id="botonLimpiar" disabled>Limpiar</button>
                                        </form>
                                          </div>
                                            <div class="contenedor" id="contenedorResultado">
                                                <h1>Tabla de Multiplicar</h1>
                                                    <table>
                                                          <thead>
                                                            <!--
                                                                  <tr>
                                                                            <th>Operando</th>
                                                                                      <th>Signo</th>
                                                                                                <th>Resultado</th>
                                                                                                        </tr>
                                                                                                              </thead>
                                                                                                            -->
                                                                                                                    <tbody id="cuerpoTablaResultado">
                                                                                                                            
                                                                                                                                  </tbody>
                                                                                                                                      </table>
                                                                                                                                        </div>
</div>
                                                                                                                                        <div class="repo">
                                                                                                                                          <a href="https://github.com/Jefferson-Benavides/tabla/" target="_blank" rel="noopener noreferrer">
                                                                                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
</svg>
                                                                                                                                          </a>
                                                                                                                                        </div>
                                                                                                                                          <script src="/js/script.js"></script>
                                                                                                                                          </body>
                                                                                                                                          </html>
                                                                                                                                          
